<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://avmupt.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>avmupt.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>avmupt</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$avmupt</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Excel03ConString" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Excel03ConString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Excel07ConString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Excel07ConString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Hospital" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:avmserver.database.windows.net,1433;Initial Catalog=A_Hospital;User ID=adminserver@avmserver.database.windows.net;Password=upt123HOLA" Name="Data Source=tcp:avmserver.database.windows.net,1433;Initial Catalog=A_Hospital;User Id=adminserver@avmserver.database.windows.net;Password=upt123HOLA" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-1D89IG9;Initial Catalog=A_Hospital;User ID=SA;Password=4563" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Hospital_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-1D89IG9; Initial Catalog=A_Hospital;User ID=SA;Password=4563;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Hospi" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:avmserver.database.windows.net,1433;Initial Catalog=A_Hospital;User ID=adminserver@avmserver.database.windows.net;Password=upt123HOLA" Name="Data Source=tcp:avmserver.database.windows.net,1433;Initial Catalog=A_Hospital;User Id=adminserver@avmserver.database.windows.net;Password=upt123HOLA" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=WIN-PDRLEL0KGFF\SQLAVM2;Initial Catalog=A_Hospital;User ID=SA;Password=hola12345#;Pooling=True;Min Pool Size=0;Max Pool Size=50;Connect Timeout=30;Load Balance Timeout=15" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Hospi_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=WIN-PDRLEL0KGFF\SQLAVM2; Initial Catalog=A_Hospital;User ID=SA;Password=hola12345#; Connection Lifetime=15; Connection Timeout=30; Max Pool Size= 50; Min Pool Size=0; Pooling=true;  " MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Hospi-Web.config Connection String">
      <ParameterValue>Data Source=tcp:avmserver.database.windows.net,1433;Initial Catalog=A_Hospital;User Id=adminserver@avmserver.database.windows.net;Password=upt123HOLA</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Hospital-Web.config Connection String">
      <ParameterValue>Data Source=tcp:avmserver.database.windows.net,1433;Initial Catalog=A_Hospital;User Id=adminserver@avmserver.database.windows.net;Password=upt123HOLA</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>